$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;
$phone: 450px;
@function color($color-name) {
  @return map-get($colors, $color-name);
}
@mixin desktop {
  @media(max-width:#{$desktop}){
    @content;
  }
}
@mixin laptop {
  @media(max-width:#{$laptop}){
    @content;
  }
}
@mixin tablet {
  @media(max-width:#{$tablet}){
    @content;
  }
}
@mixin phone {
  @media(max-width:#{$phone}){
    @content;
  }
}
