html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  /*0%{ right: 100;}
    100% { right: -100; }*/
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  /*0%{ right: 100;}
    100% { right: -100; }*/
}

.title-screen {
  background-image: url("img/Dnieper-River.jpg");
  width: 100vw;
  background-size: cover;
  height: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#title-1 {
  font-family: 'Oswald', sans-serif;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 9rem;
  color: white;
  opacity: 0.90;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#title-2 {
  font-family: 'Oswald', sans-serif;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 7rem;
  color: white;
  opacity: 0.90;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  /*0%{ right: 100;}
    100% { right: -100; }*/
}

.content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.back1-1 {
  background-color: #005BBB;
  height: 100rem;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.back1-2 {
  background-color: #FFD500;
  height: 100rem;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content-title-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 8rem;
  color: white;
  opacity: 0.90;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.content-title-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  color: white;
  opacity: 0.90;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.img-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Kiev.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-1:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-1:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.words-1-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.words-1-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.img-1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Odessa.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-1-2:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-1-2:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.words-2-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.words-2-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.img-1-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Lviv.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-1-3:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-1-2:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.words-3-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.words-3-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.img-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

/*.img-content-1:hover {
    transform: scale(1.3);
    z-index: 2;
}
.img-content-1:not(:hover) {
    transform: scale(.5);
    opacity: 0.3;
}*/
.content-title-1-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 8rem;
  color: white;
  opacity: 0.90;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.content-title-2-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  color: white;
  opacity: 0.90;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.img-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.img-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Carpathian-Mountains.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-2:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-2:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.img-2-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Dnieper.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-2-2:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-2-2:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.img-2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Sea-of-Azov.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-2-3:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-2-3:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.img-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Bandura.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-3:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-3:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.img-3-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Borscht.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-3-2:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-3-2:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.img-3-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Clothing.jpg");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-3-3:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-3-3:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.img-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("img/Plane.webp");
  height: 50rem;
  width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
  /*opacity: 0.9;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-position: center;
}

.img-4:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  outline: 1rem solid white;
}

.img-4:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
}

.b-words-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  color: white;
  opacity: 0.90;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
/*# sourceMappingURL=style.css.map */